/* Guide
-------------------------- */
body {
	background-image: url('images/backguid.jpg');
	background-position: center top;
	background-repeat: no-repeat;
}

body > * {
	outline: 1px dashed blue;
}

body > * > * {
	outline: 2px dotted red;
}

body > * > * * {
	outline: 2px dashed green;
}


/* Layout
-------------------------- */

div.containers {
	
}

section.banner {
	min-height : 440px;
}

section.banner .train {
	min-height : inherit;
}

section.banner div.slide {
	min-height : inherit;
}

div.content section.purchase {
	padding-left: 30px;
	padding-right: 30px;
}



/* modules
-------------------------- */

a.btn{
	display: block;
	padding: 15px 20px;
	text-transform: uppercase;
	text-decoration: none;
}