
div.backimg {
	background-image: url('images/backimg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
}
